 <div class="full-page-panel">
    <h2 class="header">Costuras em Geral</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://mrdmcostura.github.io/images/costura.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Costuras com ótimo acabamento.</p>
        </div>
      </div>
    </div>
  
      <h2 class="header">Consertos</h2>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p>Reformas, ajustes e conserto de roupas.</p>
        </div>
      </div>
        <div class="card-image">
        <img src="https://mrdmcostura.github.io/images/reparo.jpg">
      </div>  
  </div>
      <h2 class="header">Customização</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://mrdmcostura.github.io/images/customizacao2.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Reinvente suas peças.</p>
        </div>
      </div>
    </div>
  </div>
